# IDE
.idea
.claude
_site


# Python
*.pyc
.ipynb_checkpoints

# Data
_data
*.alz
*.answer
*.context
*.data
*.gz
*.h5
*.json
*.npz
*.pkl
*.pt
*.pth
*.question
*.safetensors
*.span
*.txt
*.zip
cifar-10-batches-py
glove.840B.300d.txt
joblib
**/cache/
**/data/

# Specific Data
imdb_full.pkl

# TensorFlow Model
*.model
*.tfmodel
_network
_network_backup
_tfmodel
checkpoints
runs

# R
.Rhistory
