--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cu128
nvidia-cudnn-cu12
nvidia-cublas-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
torch
torchvision
transformers
bitsandbytes
unsloth_zoo[base]@git+https://github.com/unslothai/unsloth-zoo
unsloth[base]@git+https://github.com/unslothai/unsloth